html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 2rem 20%;
    background-color: #070606;
}

.container {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    display: flex;
    align-items: center;
    gap: .5rem;
}

nav h1 {
    font-size: 1rem;
    color: #F8F9F9;
}

nav img {
    height: 3rem;
    border-radius: 50%;
}

nav ul {
    display: flex;

}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    font-size: .8rem;
    margin: 1rem;
    padding: .25rem;
    text-decoration: none;
    color: #F8F9F9;
}

i {
    color: white;
}

/* pasted in for underline hover */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #F8F9F9;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ends here */

/* .content {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
}

.content h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.showcase {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.project img {
    border-radius: 10%;
    border: solid #F8F9F9 3px;
    max-height: 10rem;
    max-width: 10rem;
}

.project p {
    text-align: center;
} */