html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: salmon;
}

.container {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: olive;
    padding: 0 10%;
}

nav ul {
    display: flex;

}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    padding: 1rem;
    text-decoration: none;
}

h1 {
    font-size: 24px;
    color: white;
}

.content {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
}

.content h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.showcase {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.project img {
    border-radius: 10%;
    border: solid white 3px;
    max-height: 10rem;
    max-width: 10rem;
}

.project p {
    text-align: center;
}